<html ng-app='mywebsite'>
	<head>
		<script src="./node_modules/angular/angular.min.js"></script>
		<script src="./node_modules/angular-route/angular-route.min.js"></script>
		<script src="./node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="./node_modules/jquery/dist/jquery.min.js"></script>
		<script src="./node_modules/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="./node_modules/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src='./js/app.js'></script>
		<script src='./js/controller/homecontroller.js'></script>
		<script src='./js/controller/resumecontroller.js'></script>
		<link rel="stylesheet" href="./node_modules/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie Flower"/>
		<link rel="stylesheet" href="./css/index.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
	</head>
	<body ng-controller='homeCtrl'>
    	<ul class="navigation">
          <li class="navigation-items">
          	<a ng-click="aboutCollapsed = !aboutCollapsed">About&nbsp;&nbsp;<i class='fa fa-angle-right'></i></a>
			<div ng-show="aboutCollapsed">
				<a class='collapse-content'>{{about}}</a>
			</div>
          </li>
          <li class="navigation-items"> <a href="/education">Education&nbsp;&nbsp;<i class='fa fa-angle-right'></i></a> 
          </li>
          <li class="navigation-items"> <a href="/workex">Work Experience&nbsp;&nbsp;<i class='fa fa-angle-right'></i></a> 
          </li>
          <li class="navigation-items"> <a href="/projects">Projects&nbsp;&nbsp;<i class='fa fa-angle-right'></i></a>
          </li>
          <li class="navigation-items">
          	<a ng-click="linkedInCollapsed = !linkedInCollapsed">LinkedIn&nbsp;&nbsp;<i class='fa fa-angle-right'></i></a>
			<div ng-show="linkedInCollapsed">
				<a class='collapse-content'>{{linkedIn}}</a>
			</div>
          </li>
          <li class="navigation-items">
          	<a ng-click="githubCollapsed = !githubCollapsed">GitHub&nbsp;&nbsp;<i class='fa fa-angle-right'></i></a>
			<div ng-show="githubCollapsed">
				<a class='collapse-content'>{{github}}</a>
			</div>
          </li>
          <li class="navigation-items">
          	<a ng-click="resumeCollapsed = !resumeCollapsed">GitHub&nbsp;&nbsp;<i class='fa fa-angle-right'></i></a>
			<div ng-show="resumeCollapsed">
				<a class='collapse-content'>{{resume}}</a>
			</div>
          </li>
        </ul>
        <div align='center'>
			<img class = 'profile-pic' ng-src="http://www.gravatar.com/avatar/{{hash}}" alt="Description" />
		</div>
	</body>
</html>
